*{
  box-sizing: border-box;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-container{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
  padding: 0.4rem 0.8rem;
  box-shadow: 2px 2px 3px -2px #636363;
  margin: 0.2rem 0.4rem;
}
